[Unit]
Description=bms Service
Wants=network.target
After=network.target

[Service]
ExecStartPre=/bin/sleep 10
ExecStart=/home/pi/bms.py -b A4:C1:38:FF:95:BE -i 7 -m bms
Restart=always

[Install]
WantedBy=multi-user.target


